<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Application name", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @*<li>@Html.ActionLink("Home", "Index", "Home")</li>*@
                    <li style="font-size: 18px;color: white;padding: 10px;">Home</li>
                    <li style="font-size: 18px;color: white;padding: 10px;">PartialView 1</li>
                    <li style="font-size: 18px;color: white;padding: 10px;">PartialView 2</li>

                    @*<li>@Html.ActionLink("About", "About", "Home")</li>
        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>*@
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
<script>
    $("li").click(function () {
        debugger;

        if ($(this).text() == "PartialView 1") {
            $('#body_content').load('@Url.Action("Partial1", "Home")');
        }
        else
            if ($(this).text() == "PartialView 2") {
                $('#body_content').load('@Url.Action("Partial2", "Home")');
            }
        else
            if ($(this).text() == "Home") {
            $('#body_content').load('@Url.Action("Index", "Home")');}
        });
</script>
</body>
</html>
